# dependencies
node_modules*
.pnpm-store

# cache & locals
.next
.turbo
.env*.local
*.bak
data

# local builds
dist
standalone
out

# lock files
package-lock.json
# bun.lock*
pnpm-lock.yaml
yarn.lock

# typescript
*.tsbuildinfo
next-env.d.ts